<!--<div style="margin-top: 150px;" class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title" id="analystLabel">意见反馈</h4>-->
            <!--</div>-->
            <!--<form class="form-horizontal w5c-form demo-form" role="form"-->
                  <!--w5c-form-validate="vm.validateOptions" novalidate name="validateForm3">-->
                <!--<div class="modal-body">-->
                    <!--<p>-->
                        <!--<textarea ng-model="feedback" name="feedback" required rows="10" class="form-control" placeholder="使用中遇到任何问题或不顺畅，都可以向我们抱怨。您的反馈内容我们一定会认真对待。" maxlength="1000"></textarea>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                    <!--<button type="button" class="btn btn-primary" w5c-form-submit="submitFeedback(feedback)">提交</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<form class="form-horizontal w5c-form demo-form" role="form"
      w5c-form-validate="vm.validateOptions" novalidate name="validateForm3">
    <div class="right-content" style="text-align: center">
        <p>
        <textarea ng-model="feedback" name="feedback" required rows="10" class="form-control"
                  placeholder="使用中遇到任何问题或不顺畅，都可以在这里告诉我们哦，我们一定会认真对待。" maxlength="1000"></textarea>
        </p>
        <button type="button" class="btn btn-primary" w5c-form-submit="submitFeedback(feedback)">确认提交</button>
    </div>
</form>