<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- 这里的1是项目id, 后台返回数据里面获取 $scope.project.id   {{id}} -->
            <p class="text-right" style="margin: 0"></p>
            <h3>{{windInfo.name}}</h3>
            <p>{{windInfo.type}}</p>
            <p ng-if="windInfo.type == '风控经理'">
                共评估<span>{{windInfo.all_num}}</span>个案件
                通过<span>{{windInfo.result_y}}</span>个
                不通过<span>{{windInfo.result_n}}</span>个
            </p>
            <p ng-if="windInfo.type == '市场分析师'">
                共分析<span>{{windInfo.all_num}}</span>个案件
                通过<span>{{windInfo.result_y}}</span>个
                不通过<span>{{windInfo.result_n}}</span>个
            </p>
            <p ng-if="windInfo.type == '风控总监'">
                共评估<span>{{windInfo.all_num}}</span>个案件
                通过<span>{{windInfo.result_y}}</span>个
                不通过<span>{{windInfo.result_n}}</span>个
            </p>
            <img ng-src="{{windInfo.head_img_url}}" class="img-responsive img-circle"
                 style="width: 80px; position: absolute; right: 30px; top: 25px; border: 1px solid #ddd"/>
        </div>
        <!-- 功能按钮 -->
    </div>
</div>


<!--统计图-->
<div ng-if="windInfo.all_num == 0">
    <p class="no-data">无数据</p>
</div>
<div ng-show="windInfo.all_num > 0">
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="section active">
        <div class="intro">
            <h3 style="text-align: center">评估案件增长柱状图</h3>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="btn-group pull-right" data-toggle="buttons" style="margin-bottom: 20px;">
                        <button class="btn btn-primary week active">周</button>
                        <button class="btn btn-primary month">月</button>
                        <button class="btn btn-primary season">季度</button>
                    </div>
                    <div id="windcontrol" style="margin: 0 auto; height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
</div>

<script type="text/javascript">
    $(".btn-group button").click(function () {
        $(this).addClass("active");
        $(this).siblings().removeClass("active");
        /*$(this).css({backgroundColor: '#276ded'});
        $(this).siblings().css({backgroundColor: '#265c8a'});*/

    });
    $(".tabUl li a").click(function () {
        $(".tabUl li a").attr("id", "");
        $(this).attr("id", "aHover");
    });

</script>