<div id="container">
    <br/>
    <br/>
    <div class="section" id="section0">
        <div class="intro">
            <h2 style="text-align: center">待签约项目: {{total.sign_num}}</h2>
            <h2 style="text-align: center">督办中项目: {{total.due_final_profit}}</h2>
            <h2 style="text-align: center">总签约标的: {{total.sign_money | formatMoney}}</h2>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="section active" id="section1">
        <div class="intro">
            <h3 style="text-align: center">项目签约柱状图</h3>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="btn-group pull-right" data-toggle="buttons" style="margin-bottom: 20px;">
                        <button ng-click="week()" class="btn btn-primary week active">周</button>
                        <button ng-click="month()" class="btn btn-primary month">月</button>
                        <button ng-click="season()" class="btn btn-primary season">季度</button>
                    </div>
                    <div id="project1" style="margin: 0 auto;height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <!--</br>
    </br>
    </br>
    <div class="section" id="section2">
        <div class="intro">
            <h3 style="text-align: center">项目状态分布饼状图</h3>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div id="project2" style="margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<script type="text/javascript">
    $(function () {
        function weekData() {
            $.ajax({
                type: "get",
                url: ServerURL + "count/project_brief",
                data: {type: "week"},
                success: function (data) {
                    var weekname1 = data.data.week[0].time;
                    var weekname2 = data.data.week[1].time;
                    var weekname3 = data.data.week[2].time;
                    var weekname4 = data.data.week[3].time;

                    var weeknum1 = parseInt(data.data.week[0].sign_money);
                    var weeknum2 = parseInt(data.data.week[1].sign_money);
                    var weeknum3 = parseInt(data.data.week[2].sign_money);
                    var weeknum4 = parseInt(data.data.week[3].sign_money);


                    console.log(data);
                    var series = [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [
                            {
                                name: weekname1,
                                color: "#ec6b27",
                                y: weeknum1
                            },
                            {
                                name: weekname2,
                                color: "#f5b32b",
                                y: weeknum2
                            },
                            {
                                name: weekname3,
                                color: "#25b38b",
                                y: weeknum3
                            },
                            {
                                name: weekname4,
                                color: "#5c69ad",
                                y: weeknum4
                            }
                        ]
                    }];
                    $('#project1').highcharts({
                        chart: {
                            type: 'column',
                            backgroundColor: 'rgba(255, 255, 255, 0)'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '签约标的(单位: 万元)'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },
                        credits: {
                                    enabled:false
                                 },
                        tooltip: {
                            headerFormat: '{point.y}',
                            // 经过的显示的内容
                            pointFormat: ''
                        },
                        // 这是动态数据,统计图的,以后要在前面angularJS获取定义变量,在这里调用.
                        series: series
                    });
                }
            })
        }

        function monthData() {
            $.ajax({
                type: "get",
                url: ServerURL + "count/project_brief",
                data: {type: "month"},
                success: function (data) {
                    var monthname1 = data.data.month[0].time;
                    var monthname2 = data.data.month[1].time;
                    var monthname3 = data.data.month[2].time;
                    var monthname4 = data.data.month[3].time;

                    var monthnum1 = parseInt(data.data.month[0].sign_money);
                    var monthnum2 = parseInt(data.data.month[1].sign_money);
                    var monthnum3 = parseInt(data.data.month[2].sign_money);
                    var monthnum4 = parseInt(data.data.month[3].sign_money);


                    console.log(data);
                    var series = [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [
                            {
                                name: monthname1,
                                color: "#ec6b27",
                                y: monthnum1
                            },
                            {
                                name: monthname2,
                                color: "#f5b32b",
                                y: monthnum2
                            },
                            {
                                name: monthname3,
                                color: "#25b38b",
                                y: monthnum3
                            },
                            {
                                name: monthname4,
                                color: "#5c69ad",
                                y: monthnum4
                            }
                        ]
                    }];
                    $('#project1').highcharts({
                        chart: {
                            type: 'column',
                            backgroundColor: 'rgba(255, 255, 255, 0)'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '签约标的(单位: 万元)'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },
                        credits: {
                            enabled:false
                                },
                        tooltip: {
                            headerFormat: '{point.y:}',
                            // 经过的显示的内容
                            pointFormat: ''
                        },
                        // 这是动态数据,统计图的,以后要在前面angularJS获取定义变量,在这里调用.
                        series: series
                    });
                }
            })
        }

        function seasonData() {
            $.ajax({
                type: "get",
                url: ServerURL + "count/project_brief",
                data: {type: "season"},
                success: function (data) {
                    var seasonname1 = data.data.season[0].time;
                    var seasonname2 = data.data.season[1].time;
                    var seasonname3 = data.data.season[2].time;
                    var seasonname4 = data.data.season[3].time;

                    var seasonnum1 = parseInt(data.data.season[0].sign_money);
                    var seasonnum2 = parseInt(data.data.season[1].sign_money);
                    var seasonnum3 = parseInt(data.data.season[2].sign_money);
                    var seasonnum4 = parseInt(data.data.season[3].sign_money);


                    console.log(data);
                    var series = [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [
                            {
                                name: seasonname1,
                                color: "#ec6b27",
                                y: seasonnum1
                            },
                            {
                                name: seasonname2,
                                color: "#f5b32b",
                                y: seasonnum2
                            },
                            {
                                name: seasonname3,
                                color: "#25b38b",
                                y: seasonnum3
                            },
                            {
                                name: seasonname4,
                                color: "#5c69ad",
                                y: seasonnum4
                            }
                        ]
                    }];
                    $('#project1').highcharts({
                        chart: {
                            type: 'column',
                            backgroundColor: 'rgba(255, 255, 255, 0)'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '签约标的(单位: 万元)'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },
                        credits: {
                            enabled:false
                        },
                        tooltip: {
                            headerFormat: '{point.y}',
                            // 经过的显示的内容
                            pointFormat: ''
                        },
                        // 这是动态数据,统计图的,以后要在前面angularJS获取定义变量,在这里调用.
                        series: series
                    });
                }
            })
        }

        // 周
        weekData();
        $(".week").click(function () {
            weekData();
        });
        $(".month").click(function () {
            monthData();
        });
        $(".season").click(function () {
            seasonData();
        });
        $(".btn-group button").click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });


        $(".tabUl li a").click(function () {
            $(".tabUl li a").attr("id", "");
            $(this).attr("id", "aHover");
        });

        // 鼠标经过效果
        /*$(".dropdown .dropdown-toggle").mouseover(function () {
            $(".dropdown .dropdown-menu").hide();
            $(this).parent().find(".dropdown-menu").show();
        });
        $(".dropdown-menu").mouseleave(function () {
            $(this).hide();
        })*/

    });
</script>